/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind components;
@tailwind utilities;
/*
    From https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.css
    Github: https://github.com/sindresorhus/github-markdown-css
    markdown-body changed to _mk
*/

@layer base {
	.panes {
		display: flex;
		list-style-type: none;
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: nowrap;
	}
	.pane {
		/* background-color: wheat; */
	}
	.panes div {
		align-items: center;
		align-self: stretch;
		background-color: white;
		border: 2px;
		border-style: solid;
		border-color: black;
		padding: 10px;
		margin: 10px;
		flex: 1 1 50%;
		overflow: auto;
		overflow-wrap: break-word;
	}
}

._mk .octicon {
	display: inline-block;
	fill: currentColor;
	vertical-align: text-bottom;
}

._mk .anchor {
	float: left;
	line-height: 1;
	margin-left: -20px;
	padding-right: 4px;
}

._mk .anchor:focus {
	outline: none;
}

._mk h1 .octicon-link,
._mk h2 .octicon-link,
._mk h3 .octicon-link,
._mk h4 .octicon-link,
._mk h5 .octicon-link,
._mk h6 .octicon-link {
	color: #1b1f23;
	vertical-align: middle;
	visibility: hidden;
}

._mk h1:hover .anchor,
._mk h2:hover .anchor,
._mk h3:hover .anchor,
._mk h4:hover .anchor,
._mk h5:hover .anchor,
._mk h6:hover .anchor {
	text-decoration: none;
}

._mk h1:hover .anchor .octicon-link,
._mk h2:hover .anchor .octicon-link,
._mk h3:hover .anchor .octicon-link,
._mk h4:hover .anchor .octicon-link,
._mk h5:hover .anchor .octicon-link,
._mk h6:hover .anchor .octicon-link {
	visibility: visible;
}

._mk h1:hover .anchor .octicon-link:before,
._mk h2:hover .anchor .octicon-link:before,
._mk h3:hover .anchor .octicon-link:before,
._mk h4:hover .anchor .octicon-link:before,
._mk h5:hover .anchor .octicon-link:before,
._mk h6:hover .anchor .octicon-link:before {
	width: 16px;
	height: 16px;
	content: ' ';
	display: inline-block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
}

._mk {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
	color: #24292e;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
		Apple Color Emoji, Segoe UI Emoji;
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
}

._mk details {
	display: block;
}

._mk summary {
	display: list-item;
}

._mk a {
	background-color: initial;
}

._mk a:active,
._mk a:hover {
	outline-width: 0;
}

._mk strong {
	font-weight: inherit;
	font-weight: bolder;
}

._mk h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

._mk img {
	border-style: none;
}

._mk code,
._mk kbd,
._mk pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

._mk hr {
	box-sizing: initial;
	height: 0;
	overflow: visible;
}

._mk input {
	font: inherit;
	margin: 0;
}

._mk input {
	overflow: visible;
}

._mk [type='checkbox'] {
	box-sizing: border-box;
	padding: 0;
}

._mk * {
	box-sizing: border-box;
}

._mk input {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

._mk a {
	color: #0366d6;
	text-decoration: none;
}

._mk a:hover {
	text-decoration: underline;
}

._mk strong {
	font-weight: 600;
}

._mk hr {
	height: 0;
	margin: 15px 0;
	overflow: hidden;
	background: transparent;
	border: 0;
	border-bottom: 1px solid #dfe2e5;
}

._mk hr:after,
._mk hr:before {
	display: table;
	content: '';
}

._mk hr:after {
	clear: both;
}

._mk table {
	border-spacing: 0;
	border-collapse: collapse;
}

._mk td,
._mk th {
	padding: 0;
}

._mk details summary {
	cursor: pointer;
}

._mk kbd {
	display: inline-block;
	padding: 3px 5px;
	font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #d1d5da;
}

._mk h1,
._mk h2,
._mk h3,
._mk h4,
._mk h5,
._mk h6 {
	margin-top: 0;
	margin-bottom: 0;
}

._mk h1 {
	font-size: 32px;
}

._mk h1,
._mk h2 {
	font-weight: 600;
}

._mk h2 {
	font-size: 24px;
}

._mk h3 {
	font-size: 20px;
}

._mk h3,
._mk h4 {
	font-weight: 600;
}

._mk h4 {
	font-size: 16px;
}

._mk h5 {
	font-size: 14px;
}

._mk h5,
._mk h6 {
	font-weight: 600;
}

._mk h6 {
	font-size: 12px;
}

._mk p {
	margin-top: 0;
	margin-bottom: 10px;
}

._mk blockquote {
	margin: 0;
}

._mk ol,
._mk ul {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

._mk ol ol,
._mk ul ol {
	list-style-type: lower-roman;
}

._mk ol ol ol,
._mk ol ul ol,
._mk ul ol ol,
._mk ul ul ol {
	list-style-type: lower-alpha;
}

._mk dd {
	margin-left: 0;
}

._mk code,
._mk pre {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	font-size: 12px;
}

._mk pre {
	margin-top: 0;
	margin-bottom: 0;
}

._mk input::-webkit-inner-spin-button,
._mk input::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none;
	appearance: none;
}

._mk :checked + .radio-label {
	position: relative;
	z-index: 1;
	border-color: #0366d6;
}

._mk .border {
	border: 1px solid #e1e4e8 !important;
}

._mk .border-0 {
	border: 0 !important;
}

._mk .border-bottom {
	border-bottom: 1px solid #e1e4e8 !important;
}

._mk .rounded-1 {
	border-radius: 3px !important;
}

._mk .bg-white {
	background-color: #fff !important;
}

._mk .bg-gray-light {
	background-color: #fafbfc !important;
}

._mk .text-gray-light {
	color: #6a737d !important;
}

._mk .mb-0 {
	margin-bottom: 0 !important;
}

._mk .my-2 {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
}

._mk .pl-0 {
	padding-left: 0 !important;
}

._mk .py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

._mk .pl-1 {
	padding-left: 4px !important;
}

._mk .pl-2 {
	padding-left: 8px !important;
}

._mk .py-2 {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

._mk .pl-3,
._mk .px-3 {
	padding-left: 16px !important;
}

._mk .px-3 {
	padding-right: 16px !important;
}

._mk .pl-4 {
	padding-left: 24px !important;
}

._mk .pl-5 {
	padding-left: 32px !important;
}

._mk .pl-6 {
	padding-left: 40px !important;
}

._mk .f6 {
	font-size: 12px !important;
}

._mk .lh-condensed {
	line-height: 1.25 !important;
}

._mk .text-bold {
	font-weight: 600 !important;
}

._mk .pl-c {
	color: #6a737d;
}

._mk .pl-c1,
._mk .pl-s .pl-v {
	color: #005cc5;
}

._mk .pl-e,
._mk .pl-en {
	color: #6f42c1;
}

._mk .pl-s .pl-s1,
._mk .pl-smi {
	color: #24292e;
}

._mk .pl-ent {
	color: #22863a;
}

._mk .pl-k {
	color: #d73a49;
}

._mk .pl-pds,
._mk .pl-s,
._mk .pl-s .pl-pse .pl-s1,
._mk .pl-sr,
._mk .pl-sr .pl-cce,
._mk .pl-sr .pl-sra,
._mk .pl-sr .pl-sre {
	color: #032f62;
}

._mk .pl-smw,
._mk .pl-v {
	color: #e36209;
}

._mk .pl-bu {
	color: #b31d28;
}

._mk .pl-ii {
	color: #fafbfc;
	background-color: #b31d28;
}

._mk .pl-c2 {
	color: #fafbfc;
	background-color: #d73a49;
}

._mk .pl-c2:before {
	content: '^M';
}

._mk .pl-sr .pl-cce {
	font-weight: 700;
	color: #22863a;
}

._mk .pl-ml {
	color: #735c0f;
}

._mk .pl-mh,
._mk .pl-mh .pl-en,
._mk .pl-ms {
	font-weight: 700;
	color: #005cc5;
}

._mk .pl-mi {
	font-style: italic;
	color: #24292e;
}

._mk .pl-mb {
	font-weight: 700;
	color: #24292e;
}

._mk .pl-md {
	color: #b31d28;
	background-color: #ffeef0;
}

._mk .pl-mi1 {
	color: #22863a;
	background-color: #f0fff4;
}

._mk .pl-mc {
	color: #e36209;
	background-color: #ffebda;
}

._mk .pl-mi2 {
	color: #f6f8fa;
	background-color: #005cc5;
}

._mk .pl-mdr {
	font-weight: 700;
	color: #6f42c1;
}

._mk .pl-ba {
	color: #586069;
}

._mk .pl-sg {
	color: #959da5;
}

._mk .pl-corl {
	text-decoration: underline;
	color: #032f62;
}

._mk .mb-0 {
	margin-bottom: 0 !important;
}

._mk .my-2 {
	margin-bottom: 8px !important;
}

._mk .my-2 {
	margin-top: 8px !important;
}

._mk .pl-0 {
	padding-left: 0 !important;
}

._mk .py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

._mk .pl-1 {
	padding-left: 4px !important;
}

._mk .pl-2 {
	padding-left: 8px !important;
}

._mk .py-2 {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

._mk .pl-3 {
	padding-left: 16px !important;
}

._mk .pl-4 {
	padding-left: 24px !important;
}

._mk .pl-5 {
	padding-left: 32px !important;
}

._mk .pl-6 {
	padding-left: 40px !important;
}

._mk .pl-7 {
	padding-left: 48px !important;
}

._mk .pl-8 {
	padding-left: 64px !important;
}

._mk .pl-9 {
	padding-left: 80px !important;
}

._mk .pl-10 {
	padding-left: 96px !important;
}

._mk .pl-11 {
	padding-left: 112px !important;
}

._mk .pl-12 {
	padding-left: 128px !important;
}

._mk hr {
	border-bottom-color: #eee;
}

._mk kbd {
	display: inline-block;
	padding: 3px 5px;
	font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #d1d5da;
}

._mk:after,
._mk:before {
	display: table;
	content: '';
}

._mk:after {
	clear: both;
}

._mk > :first-child {
	margin-top: 0 !important;
}

._mk > :last-child {
	margin-bottom: 0 !important;
}

._mk a:not([href]) {
	color: inherit;
	text-decoration: none;
}

._mk blockquote,
._mk details,
._mk dl,
._mk ol,
._mk p,
._mk pre,
._mk table,
._mk ul {
	margin-top: 0;
	margin-bottom: 16px;
}

._mk hr {
	height: 0.25em;
	padding: 0;
	margin: 24px 0;
	background-color: #e1e4e8;
	border: 0;
}

._mk blockquote {
	padding: 0 1em;
	color: #6a737d;
	border-left: 0.25em solid #dfe2e5;
}

._mk blockquote > :first-child {
	margin-top: 0;
}

._mk blockquote > :last-child {
	margin-bottom: 0;
}

._mk h1,
._mk h2,
._mk h3,
._mk h4,
._mk h5,
._mk h6 {
	margin-top: 24px;
	margin-bottom: 16px;
	font-weight: 600;
	line-height: 1.25;
}

._mk h1 {
	font-size: 2em;
}

._mk h1,
._mk h2 {
	padding-bottom: 0.3em;
	border-bottom: 1px solid #eaecef;
}

._mk h2 {
	font-size: 1.5em;
}

._mk h3 {
	font-size: 1.25em;
}

._mk h4 {
	font-size: 1em;
}

._mk h5 {
	font-size: 0.875em;
}

._mk h6 {
	font-size: 0.85em;
	color: #6a737d;
}

._mk ol,
._mk ul {
	padding-left: 2em;
}

._mk ol ol,
._mk ol ul,
._mk ul ol,
._mk ul ul {
	margin-top: 0;
	margin-bottom: 0;
}

._mk li {
	word-wrap: break-all;
}

._mk li > p {
	margin-top: 16px;
}

._mk li + li {
	margin-top: 0.25em;
}

._mk dl {
	padding: 0;
}

._mk dl dt {
	padding: 0;
	margin-top: 16px;
	font-size: 1em;
	font-style: italic;
	font-weight: 600;
}

._mk dl dd {
	padding: 0 16px;
	margin-bottom: 16px;
}

._mk table {
	display: block;
	width: 100%;
	overflow: auto;
}

._mk table th {
	font-weight: 600;
}

._mk table td,
._mk table th {
	padding: 6px 13px;
	border: 1px solid #dfe2e5;
}

._mk table tr {
	background-color: #fff;
	border-top: 1px solid #c6cbd1;
}

._mk table tr:nth-child(2n) {
	background-color: #f6f8fa;
}

._mk img {
	max-width: 100%;
	box-sizing: initial;
	background-color: #fff;
}

._mk img[align='right'] {
	padding-left: 20px;
}

._mk img[align='left'] {
	padding-right: 20px;
}

._mk code {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	background-color: rgba(27, 31, 35, 0.05);
	border-radius: 3px;
}

._mk pre {
	word-wrap: normal;
}

._mk pre > code {
	padding: 0;
	margin: 0;
	font-size: 100%;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
}

._mk .highlight {
	margin-bottom: 16px;
}

._mk .highlight pre {
	margin-bottom: 0;
	word-break: normal;
}

._mk .highlight pre,
._mk pre {
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #f6f8fa;
	border-radius: 3px;
}

._mk pre code {
	display: inline;
	max-width: auto;
	padding: 0;
	margin: 0;
	overflow: visible;
	line-height: inherit;
	word-wrap: normal;
	background-color: initial;
	border: 0;
}

._mk .commit-tease-sha {
	display: inline-block;
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	font-size: 90%;
	color: #444d56;
}

._mk .full-commit .btn-outline:not(:disabled):hover {
	color: #005cc5;
	border-color: #005cc5;
}

._mk .blob-wrapper {
	overflow-x: auto;
	overflow-y: hidden;
}

._mk .blob-wrapper-embedded {
	max-height: 240px;
	overflow-y: auto;
}

._mk .blob-num {
	width: 1%;
	min-width: 50px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	font-size: 12px;
	line-height: 20px;
	color: rgba(27, 31, 35, 0.3);
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

._mk .blob-num:hover {
	color: rgba(27, 31, 35, 0.6);
}

._mk .blob-num:before {
	content: attr(data-line-number);
}

._mk .blob-code {
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 20px;
	vertical-align: top;
}

._mk .blob-code-inner {
	overflow: visible;
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	font-size: 12px;
	color: #24292e;
	word-wrap: normal;
	white-space: pre;
}

._mk .pl-token.active,
._mk .pl-token:hover {
	cursor: pointer;
	background: #ffea7f;
}

._mk .tab-size[data-tab-size='1'] {
	-moz-tab-size: 1;
	tab-size: 1;
}

._mk .tab-size[data-tab-size='2'] {
	-moz-tab-size: 2;
	tab-size: 2;
}

._mk .tab-size[data-tab-size='3'] {
	-moz-tab-size: 3;
	tab-size: 3;
}

._mk .tab-size[data-tab-size='4'] {
	-moz-tab-size: 4;
	tab-size: 4;
}

._mk .tab-size[data-tab-size='5'] {
	-moz-tab-size: 5;
	tab-size: 5;
}

._mk .tab-size[data-tab-size='6'] {
	-moz-tab-size: 6;
	tab-size: 6;
}

._mk .tab-size[data-tab-size='7'] {
	-moz-tab-size: 7;
	tab-size: 7;
}

._mk .tab-size[data-tab-size='8'] {
	-moz-tab-size: 8;
	tab-size: 8;
}

._mk .tab-size[data-tab-size='9'] {
	-moz-tab-size: 9;
	tab-size: 9;
}

._mk .tab-size[data-tab-size='10'] {
	-moz-tab-size: 10;
	tab-size: 10;
}

._mk .tab-size[data-tab-size='11'] {
	-moz-tab-size: 11;
	tab-size: 11;
}

._mk .tab-size[data-tab-size='12'] {
	-moz-tab-size: 12;
	tab-size: 12;
}

._mk .task-list-item {
	list-style-type: none;
}

._mk .task-list-item + .task-list-item {
	margin-top: 3px;
}

._mk .task-list-item input {
	margin: 0 0.2em 0.25em -1.6em;
	vertical-align: middle;
}
